/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #d6d4d4;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #41688a;
}

nav a:hover {
  color: #7f4dd2;
}

li {
  list-style: none;
}

.grid {
  display: inline-block;
  width: 700px;
  margin-bottom: 50px;
}

.quad {
  display: inline-block;
  width: 250px;
  height: 300px;
  /*border: 1px solid black;*/
  padding: 10px;
  margin: 5px;

}

#quad-one {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #dbf9f0;
  /*border-color: hotpink*/
  /*z-index: 3;*/
}

#quad-two {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fcf4ab;
  /*z-index: 3;*/
}
#quad-three {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f9bbbb;
  /*z-index: 3;*/
}
#quad-four {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b7d9f4;
  /*z-index: 3;*/
}
/*.toDo-list {
  border: 1px solid black;
  background-color: #555;
  width: 250px;
  height: 250px;

}*/
div .footer {
  bottom: 0;
}

.footer {
  background-color: #555;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

.space {
  margin: 15px 0 0 0;
}

.btn-primary {
  color: #fff;
  width: 50px;
  background-color: #6dc66d;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: white;
  color: red;
  border-radius: 2px;
  float: right;
}



/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #41688a;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
